.info {
    background-color: #ffe44d;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 100px;
    height: 300px;
}
.container-info h5 p {
    color: black;
   
    /* font-family: 'Comic Sans MS', cursive, sans-serif; */
    /* font-weight: 900; */
    /* font-size: 20px; */
}
.catalog {
    background-color: white;
    border-radius: 25px;
    border: none;
    box-shadow:  0 8 0 8;
    padding: 10px 15px 10px 15px;
    box-shadow: 10px 5px 5px rgb(236, 205, 27);
    
}
.catalog:hover{
    background-color: #ffe44d;
    box-shadow: 5px 5px 5px brown;
}
.info-link {
    padding-top: 20px;
    padding-bottom: 20px;
    /* display: flex;
    align-items: center; */
    cursor: pointer;
    text-shadow: 0 0 1px yellow;
    user-select: none;
}
  .info-link:hover {
    text-shadow: 0 0 1px rgb(54, 54, 7);
  }
 


.banner-wrap {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

.promotional-container {
    width: 84%;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-left: 105px;
   
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}
.slider2-wrap {
    margin-top: 30px;
}

/* @media (max-width: 576px){
    .promotional-container {
        grid-template-columns: repeat(1, 1fr);
    }
} */