.info {
    background-color: #ffe44d;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 100px;
}
p {
    font-size: small;
    color: black;
}
h3 {
    font-size: small;
    color: black;
}
/* .container-info {
    width: 200px;
} */
.info-link {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-shadow: 0 0 1px yellow;
    user-select: none;
  }
  .info-link:hover {
    text-shadow: 0 0 7px yellow;
  }
  .main-container {
    display: grid;
    grid-template: repeat(3, 1fr);
  }
  .banner {
    width: 1100px;
    background-size: cover;
    background-position: center;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    display: flex;
	  justify-content: flex-end;
	  align-items: center;
    align-content: center;
	  flex-direction: column;
	  background-image: url("https://i.yapx.ru/WCiXE.png");
    background-repeat: no-repeat; 
}
.pre-banner {
    display: flex;
	  justify-content: center;
	  align-items: center;
    background-color: #ffe44d;
}
.wrapper-promotional {
    background-color: white;
    
}
.promotional-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}
.promotional-rigth {
    background-image: url("https://i.yapx.ru/WCicF.png");
    width: 500px;
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 8px;
}
.promotional-left {
    background-image: url("https://i.yapx.ru/WCicr.png");
    width: 500px;
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 8px;
}
.promotional-bottom {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}
.promotional-rigth-1 {
    border-radius: 8px;
    width: 500px;
    background-size: cover;
    background-position: center;
    height: 180px;
    background-image: url("https://i.yapx.ru/WCic9.png");
}
.promotional-left-1 {
    width: 500px;
    background-size: cover;
    background-position: center;
    height: 180px;
    border-radius: 8px;
    background-image: url("https://i.yapx.ru/WCijK.png");
}