header {
    background-color: #ffe44d;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    height: 100px;
}
header .search-block {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo img {
    height: 30px;
}
.header__menu,
.header__menu>span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__menu>span>* {
    cursor: pointer;
}
@media (max-width: 576px){
    header {
      padding: 6px 10px;
      flex-wrap: no-wrap;
    }
    header .search-block {
      order: 0;
      width: 80%;
    }
    .header__logo {
        height: 15px;
        width: 20px;
        font-size: 1rem;
    }
    .header__menu,
    .header__menu>span {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo {
    max-width: 70px;
}
}
.footer {
    background-color: #FFE44D;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
}
.footer__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.footer__nav-list a {
    text-decoration: none;
    color: #1A1A1A;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__contacts a {
    text-decoration: none;
    color: #1A1A1A;
}
.footer__contacts 
h3 {
    margin: 0;
    font-size: medium;
}
.footer__contacts-social {
    display: flex;
    gap: 12px;
}
