
.newbanner {
    width: 84%;
    max-height: 220px;
    background-image: url("https://img.freepik.com/free-photo/side-view-domestic-dog-copy-space_23-2148326228.jpg?w=900&t=st=1685728988~exp=1685729588~hmac=dfa4ba45126d622759edb836e04653ef183d3fcf7e51ac05cd61f34dbef8a6e1");
    position: absolute;
    z-index: 100;
    top: 430px;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    max-height: 25vh;
    display: grid;
    border-radius: 25px;
    background-repeat: no-repeat; 
}


.banner__text {

    padding: 20px;
    font-size: 10px;
    color: black;
    opacity: 50%;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: 800;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: flex-start; */
    align-items: center;
}

/* .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c0;
    opacity: .6;
} */

/* @media screen and (min-width: 1064px) {
    .banner__text {
        font-size: 1rem;
    }
} */